@media only screen and (min-width: 64em) {
  nav button {
    display: none;
  }

 nav ul {
    text-align: center;
    display: inline-flex;
  }

  li {
    display: inline-flex;

  }

  li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.hide {
    display: inline-flex;
  }
  nav ul.hide {
    display: inline-flex;
  }
  
  section.hero {
    margin-bottom: 35px;
  }
  

  /*5 Day Forecast*/
  table {
    margin: auto;
  }
  main {
    max-width: 800px;
      }
  section.forecast {
    display: block;
    font-family: 'Copse', serif;
    border-radius: 3px;
    padding: 1.2px;
    text-align: center;
    background-color: rgb(198, 209, 219);
    margin-left: 3px; margin-right: 3px;

  }

  .forecast {
    display: inline-block;
  }

  .forecast th {
    background-color: rgb(247, 247, 164);
    color: black;
    font-size: .75em;
    padding: 15px
  }
    
  .forecast td {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.4em;
    padding: 20px 45px;
  }

  .forcast table {
    margin-left: 100px;
  }

  .main{
    max-width: 100%;
  }
  div.gallery {
    grid-template-columns: repeat(3, 2fr);
    justify-content: center;
    max-width: 100%;
    margin: auto;
  }
  div.gallery figure:hover {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4)
  }
   
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
}

  #googleMap {
    float: right;
    margin-right: 30px;
  }

  
  div.address {
    margin: 25px 0 0 25px;
  }

  main.footer {
    max-width: 800px;
  }
}

