* {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

header img {
    max-width: 75px;
    align-self: center;
}

title {
    font-family: 'Copse', serif;
    font-size: 1rem;
}

header h1 {
    font-size: 3em;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0;
}

article h1 {
    padding: 15px;
    font-size: 2em;
    text-align: center;
}


section h1 {
    padding: 15px;
    text-align: center;
    font-size: 2em;
    color: white;
}

h2 {
    font-size: 1em;        
    text-align: center;
    padding: 15px;
    color: rgb(219, 219, 74);
}

h3 {
    text-align: center;
    font-size: 1.5em;
    color: #000000;
    padding: 10px 20px 20px 20px;
    margin: 0;
}

img.myphoto {
    width: 100%;
}

body {
    font-size: 16px;
    line-height: 1em;
    font-family: 'Copse', serif;
    background-color: rgba(88, 122, 155, 0.3);
     color: #000000;
    text-align: center;
}

header,
main,
footer {
    font-size: 1em;
    line-height: 1em;
    margin: 10px auto;
    font-family: 'Copse', serif;
    text-align: center;
    background-color: rgb(72, 128, 72);
       color: black;
    border: none;
}

nav {
    background-color: rgb(20, 33, 148);
    margin: 0;
}

nav ul {
    list-style-type: none;
    background-color: rgb(20, 33, 148);
    padding: 0;
}

nav li {
    text-align: center;
    list-style-type: none;
    font-size: .75em;
}

nav li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: white;

}

nav ul.hide {
    display: none;
}

nav li.active {
    background-color: rgb(72, 128, 72);
    color: rgb(247, 247, 164);
}

li a:hover {
    background-color: rgb(247, 247, 164);
    color: black;
}

main {
    max-width: 800px;
    font-size: .75em;
    background-color: rgb(88, 122, 155);
    margin: auto;
}

img.forcast {
    max-width: 400px;

}

section.hero {
    position: relative;

}

section.hero div {
    position: absolute;
    top: 75px;
    left: 15px;
    background-color: rgba(72, 128, 72, 0.6);
    border-radius: 2px;
}

main.div p {
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: 'Copse', serif;
    font-size: 2.5em;
}

main.img {
    padding: 15px 0 0 15px;
}

ul.weather {
    padding: 0;
}

ul.weather li {
    margin: 5px;
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: block;
}

img.road {
    max-width: 100%;
}

section.forecast {
    display: none;
}

section.forecast img {
    max-width: auto;
}

section.forecast th {
    font-size: 1.25em;
}

article img {
    max-width: 50%;
    padding: 20px;
}

article p {
    max-width: 700px;
    margin: auto;
    padding-bottom: 20px;
    font-size: 1em;
    font-family: 'Copse', serif;
}

div.gallery {
    display: grid;
    grid-template-columns: (1fr 100%);
    grid-gap: 15px;
    margin: auto;
    align-items: center;

}

div.gallery figure {
    justify-self: center;
    padding-bottom: 20px;
}

div.gallery img {
    padding: 0;
}

figcaption {
    color: white;
    font-size: 1.5em;
}

div.address {
    align-self: auto;
    font-size: 1.25em;
    color: white;
}

div.address p {
    padding: 5px;
}

div.social img {
    max-width: 35px;
    padding-top: 15px;

}

#googleMap {
    margin: auto;
    padding: 20px;
}

footer>p {
    clear: both;
}

footer {
    font-size: .75em;
    color: white;
    padding: 20px;
    max-width: 800px;
    margin-top: 0px;
    border-radius: 3px;
}

/*Home page*/

section.home {
    display: grid;
    grid-gap: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.25em;
    color: white;
}

section.home article p {
    padding: 10px;
    font-size: 1em;
    color: navy;
}

section.home h2 {
    font-size: 1.75em;
}

section.home img {
    max-width: 80%;
    margin-top: 15px;
}

div.homepage img {
    margin-top: 30px;
    max-width: 75%;
    padding: 0px;
}

section.home main img {
    max-width: 50%;
    padding: 25px;
}

section.home main p {
    font-size: 2em;
    color: white;
    margin-bottom: 25px;
}

p.great {
    font-size: 2em;
    color: white;
    padding-bottom: 50px;
}

section.home article:nth-of-type(1) {
    order: 3;
}

section.home article:nth-of-type(2) {
    order: 1;
}

section.home article:nth-of-type(3) {
    order: 2;
}

/*Current Events*/

.events ul {
    list-style-type: none;
    padding: 0;
}

.events li {
    padding: 10px;
}

.events {
    max-width: 400px;
    margin: 20px auto;
    padding-bottom: 20px;
    background-color: rgba(72, 128, 72, 0.6);
    border-radius: 3em;

}

.events h2 {
    color: white;
    font-size: 3em;
    font-family: 'Copse', serif;
}

.events img {
    padding-bottom: 20px;
    padding-top: 20px;
}

.events div {
    font-size: 1.5em;
    padding-bottom: 20px;
    color: white;
}

/* Thank you page */

main div p {
    padding-bottom: 100px;
    padding-top: 75px;
    color: White;
    font-size: 3em;
}

main div img {
    padding-bottom: 50px;
}

/*Storm Center*/

.stormy h1 {
    color:Navy;
    font-size: 2.5em;
    font-family: 'Copse', serif;
}
.stormy p {
    font-size: 1.5em;
}
form {
    text-align: left;
    margin-left: 75px;
    padding: 20px;
}

form h3 {
    font-size: 20px;
    font-family: 'Copse', serif;
}

input {
    box-sizing: border-box;
}

input[type=text] {
    width: 50%;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type=email] {
    width: 40%;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type=tel] {
    margin: 8px 0;
    border-radius: 4px;
}

input[type=number] {
    margin: 8px 0;
    border-radius: 4px;
}

input[type=date] {
    margin: 8px 0;
    border-radius: 4px;
    text-align: center;
}

input[list=weather] {
    margin: 8px 0;
    border-radius: 4px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 25px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 4px;
    margin: 8px 0;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(72, 128, 72);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

#ratingvalue {
    padding: 10px;
}

select[name=stormregion] {
    margin: 8px 0;
    border-radius: 4px;
}

#text {
    margin: 8px;
}

input[type=radio] {
    margin: 5px 0;

}

textarea {
    margin: 8px 0;
    border-radius: 4px;
    width: 100%;
}

button {
    border-radius: 4px;
    background-color: rgb(72, 128, 72);
    color: white;
    padding: 10px;
}