* { margin: 0; box-sizing: border-box; } 
header img {
    width: 150px /*  */;
    height: auto;
    float: left;
    padding: 15px;
    position: absolute;
    top: 20px;
    left: 40px;
}  
title {
    font-family: Arial, Courier, sans-serif;
    font-size: 1rem;
}
header h1 {
    font-size: 1.5rem /* x.xrem  (rem is a unit of measure) */;
    color:darkkhaki/* #xxxxxx */;
    text-align: center;
    padding: 15px;
}
h1{
    padding: 60px;
    font-size: .75rem;
    text-align: center;
}
section h1 {
    padding:20px;
    text-align: center;
    font-size: 1rem;
}
h2 {
    font-size: .75rem /* x.xrem */;
    text-align: right;
    border-bottom: 1px solid #bbb;
    padding: 15px;
}
h3{
    text-align: center;
    font-size: .75rem;
    color: darkred;
    padding: 20px;
}
body { 
    font-size: .50rem; 
    line-height: 1rem;
    font-family: Helvetica, sans-serif ;
    background-color: lightgray /* */;
    color: black /* #xxxxxx */;
    text-align: center;
    padding: 20px;
}

header, main, footer {
    font-size: 1rem;
    line-height: 1rem;
    margin: 10px auto;
    font-family: Areial Header, sans-serif;
    text-align: center;
    background-color: darkred /* */;
    color: wheat;
}
 nav ul {
     padding: 10px;
     float: center;
     list-style-type: none   
  }  
  nav li {
    text-align: center;
    list-style-type: none;
    padding: 5px;
    font-size: .75rem;
  }
 nav li a{
      text-decoration: none;
  }
  nav.wrapper
  {
      font-size: .75rem;
  }
  main{
      max-width: 800px;
      font-size: .75rem;
  }

  img.forcast {
          max-width: 400px;

  }
  div.summary{
      position: relative;
      
  }
  div.summary div{
       position: absolute;
       top: 15px;
       left: 15px;
       background-color: rgba(139, 0, 0,.5);
      
  }
  ul.weather 
  {
      padding: 0;
  }
  ul.weather li
    { margin: 5px;
      list-style-type: none;
      padding: 0;
      text-align: center;
      display: block;
    }
  img.road{
      max-width: 100%;
  }
  section.forcast{
    display: none;
  }
  article img{ 
      max-width: 100%;
}
  div.address{
      float:left;
  }
  div.social{
      display: inline-block;
   
  }
  div.social img{
      max-width: 75px;
        }

  footer img{
      padding: 20px;
      top: 100px;
      left: -50px;
     
  }
  footer>p {
      clear: both;
          
    }
main.footer{
    max-width: 800px;
}
footer {
    font-size: .75rem /* smaller */;
    padding: 20px;
    
}