* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Helvetica, sans-serif ;
    background-color: lightgray /* */;
    color: black /* #xxxxxx */;
    text-align: left;
    max-width: 625px;
  }

  body img {
    width: 300px/*  */;
    height: auto;
    float: center;
    margin: 3;
}

title {
    font-family: Arial, Courier, sans-serif;
}

h1 {
    font-size: 1rem /* x.xrem  (rem is a unit of measure) */;
    color:navy/* #xxxxxx */;
}
h2 {
    font-size: 1rem /* x.xrem */;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    font-size: 32px;
    line-height: 32px;
    margin: 10px auto;
    font-family: Areial Header, sans-serif;
    max-width: 625px /* xxxpx (px = pixel is a unit of measure)  */;
    text-align: center;
    background-color: blueviolet /* */;
    color: black;
}

header img {
    width: 75px/*  */;
    height: auto;
    float: left;
    margin: 3;
}
ul {
    border: 1px solid #555;
  }
  
  li {
    text-align: center;
    border-bottom: 1px solid #555;
  }
  
  li:last-child {
    border-bottom: none;
  }
  

footer {
    font-size: .75rem /* smaller */;
}