* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: .75rem; 
    line-height: 1rem;
    font-family: Helvetica, sans-serif ;
    background-color: lightgray /* */;
    color: black /* #xxxxxx */;
    text-align: left;
    }


  
title {
    font-family: Arial, Courier, sans-serif;
}

header h1 {
    font-size: 2rem /* x.xrem  (rem is a unit of measure) */;
    color:darkkhaki/* #xxxxxx */;
    text-align: center;
    padding: 15px;

}
section h1 {
    padding:20px;
    text-align: center;


}
h2 {
    font-size: 1rem /* x.xrem */;
    text-align: center;
    border-bottom: 1px solid #bbb;
}
h3{
    text-align: center;
    font-size: 2rem;
    color: darkred;
    padding: 20px;
}
header, main, footer {
    font-size: 1rem;
    line-height: 1rem;
    margin: 10px auto;
    font-family: Areial Header, sans-serif;
    text-align: center;
    background-color: darkred /* */;
    color: wheat;
}

header img {
    width: 250px /*  */;
    height: auto;
    float: left;
    margin: 3;
    padding: 15px;
}
 ul {
     padding: 10px;
     float: center;
   
  }
  
  nav li {
    text-align: center;
    list-style-type: none;
    border: 1px solid #555;
    padding: 5px;
  }
 nav li a{
      text-decoration: none;
  }
  img.road{
      max-width: 100%;
      padding: 20px
  }

  div.social{
      display: inline-block;
  
  }
  div.social img{
      max-width: 75px;
  }

  footer img{
      padding: 20px;
  }
footer {
    font-size: .75rem /* smaller */;
    padding: 20px;
}