@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    margin: 12px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

table {
    margin: 0 10px;
    text-align: center;
    border-spacing: 1px;
    box-shadow: 5px 5px 10px rgb(81, 126, 224);
    background-color: #bbb;
}
tbody tr th{
    padding: 8px;
    background-color: #7fb9c2;
}
tr td{
    padding: 8px;
}

tbody tr:nth-child(1) {
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px;
}
tbody tr:nth-child(2) td  {
        background-color: #628ca6;
        color: white;
        font-weight: bold;
        }
tbody tr:nth-child(7) td:first-child {
    font-style: italic;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tbody tr:nth-child(even) {
    background-color: #e7ffed;
}

tfoot td {
    background-color: #7fb9c2;;
    font-size: .75rem;
    padding: 3px;
}

.highlight {
    color: #fff;
    background-color: #628ca6;
}