* {
    margin: 0 ;
    box-sizing: border-box;
}

header {
    margin: 0;
    color: black;
    font-weight: bold;
    font-family: Ubuntu, sans-serif;

}

header,
footer {
    background-color: #7f8bc2;
    text-align: center;
}
body {
    margin: 20px;
    max-width: 800px;
    box-shadow: 5px 10px rgba(62, 89, 148);
    font-family: Ubuntu, sans-serif;
    color: black;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
   
}
tbody th:nth-child(1) {
    width: 30%;
}
tbody td:nth-child(6){
    font-style: italic;
}

td {
    letter-spacing: 2px;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tbody tr:nth-child(even) {
    background-color: #e7ffed;
}

tbody tr:nth-child(1) {
    background-color: #628cab;
    font-weight: bold;

}